body {
    background-image: url('../images/football-stadium.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
img {
    height: 100px;
    width: 100px;
}

h1 {
    color: white;
}

p {
    color: white;
    text-align: center;
    margin: 0px;
}

.battlePos {
    height: 200px;
    width: 150px;
}

.card {
    background: none;
    border: .125em solid white;
}

.card-body {
    background: red;
    font-size: 1em;
    padding: 0px;
    line-height: 1;
}

.card-header {
    background: grey;
}

.card-footer {
    background: red;
}

#main_container {
    margin: 5% 10%;
}

#selectCall {
    color: red;
}

#versus {
    color: red;
    border-radius: 50%;
    border: 2px solid #FD0000;
    background: #DEA185;
    height: 60px;
    font-size: 2em;
    text-align: center;
    line-height: 2;
    font-family: 'Press Start 2P', cursive;

}

#attack {
    padding: 0px;
    margin-right: 20px;
}

#impact {
    background: black;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px greenyellow;
  }
  40% {
    box-shadow: 0 0 20px greenyellow;
  }
  60% {
    box-shadow: 0 0 20px greenyellow;
  }
  100% {
    box-shadow: 0 0 -10px greenyellow;
  }
}

#playerPick {
  animation: glowing 1000ms infinite;
  border: 2px solid yellow;
  padding: 1em;
  height: 155px;
}

#opponentPick {
  animation: glowing 1000ms infinite;
  border: 2px solid yellow;
  padding: 1em;
  height: 155px;
}

#instruction {
    height: 20vh;
    background: #fffaf0;
    padding: 0.5em 1.25em;
}

#instruction,p {
    color: black;
}

#cta {
    color: floralwhite;
}